* {

   padding: 0%;
   margin: 0%;
}


body {
   background-color: #1a1a1a;
}

.banner {
   height: 450px;
   width: 850px;
   background-image: url("./assents/Banner.png");
   /*ele adiciona uma imagem como fundo*/
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;


}

li a {

   text-decoration: none;
   color: #ffffff;
   font-size: 20px;
   padding: 25px;
}

ul {
   display: flex;
   /*ativa a propriedade de alinhamento*/
   flex-direction: row;
   /*coloca os elementos na horizontal*/
}

li {
   list-style: none;
   /*remove os pontos das lista*/
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.logo {
   height: 120px;
   width: 120px;
}

.bi {
   font-size: 40px;
   color: #4c544c;

}

.texto-banner {
   color: #ffffff;
   font-size: 25px;

}

.btn {
   height: 45px;
   width: 115px;
   border-radius: 55px;
   /*Deixa a  borda redonda*/
   border: none;
   /*Serve para remover a borda*/
   color: #ffffff;
   font-size: 19px;
   background-color: #333333;
   margin: 30px;
   /*distancia o botao do texto*/
}

.banner-estrutura {
   width: 220px;
   margin: 30px;
}

.section-banner {
   display: flex;
   justify-content: center;
   /* Centraliza horizontalmente */
   padding: 40px 0;
   /* Mantém espaço ao redor */
}

.titulo {
   color: #ffffff;
   font-size: 35px;
   font-weight: bold;
}

.estrutura-titulo {
   justify-content: center;
   display: flex;
   padding: 30px;
}

.produtos {
   height: 380px;
   width: 250px;
}

.valor {
   color: #ffffff;
   font-weight: bold;
   font-size: 30px;
}

.card {
   width: 250px;
   height: 430px;
}

.card-texto {
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.cores {
   height: 20px;
   width: 15px;
   border-radius: 50%;

}

.vermelho {
   background-color: brown;
}

.azul {
   background-color: blue;
}

.amarelo {
   background-color: chartreuse;

}

.branco {
   background-color: #ffffff;

}

.preto {
   background-color: black;
}

.verde {
   background-color: #1d361f;

}


.caixa-cores {
   display: flex;
   flex-direction: row;
   padding: 5px;
}

.carousel {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 20px;
   /*ele dar uma distancia ingual entre os elementos */

}

.xbox1 {
   height: 450px;
   width: 850px;
   background-image: url("./assents/xbox1.png");
   /*ele adiciona uma imagem como fundo*/
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;


}

li a {

   color: #ffffff;
   font-size: 20px;
   padding: 25px;
}

ul {
   display: flex;
   /*ativa a propriedade de alinhamento*/
   flex-direction: row;
   /*coloca os elementos na horizontal*/
}



nav {
   display: flex;
   flex-direction: center;
   align-items: center;
   justify-content: space-between;
}

#logo {
   height: 120px;
   width: 120px;
}

.bi {
   font-size: 40px;
   color: #4c544c;

}



.banner-xbox{
  height: 500px;
  width: 950px;
   background-image: url("./assents/xbox1.png");
   display: flex;
   align-items: start;
   justify-content: end;
   margin: 150px;
}
.estrutura-xbox{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 120px;
   margin: 20px;
}


.texto-xbox{
   color: aliceblue;
   font-size: 25px;
}



.botao-banner {
   height: 45px;
   width: 115px;
   border-radius: 55px;
   /*Deixa a  borda redonda*/
   border: none;
   /*Serve para remover a borda*/
   color: #ffffff;
   font-size: 19px;
   background-color: #333333;
   margin: 30px;
   /*distancia o botao do texto*/
}

.estrutura-texto1{
   color: aliceblue;
   margin: 30px;
 }
 
 .texto-recursos{
   color: dimgray;
   display: flex;
 }
 
 .estrutura-universal{
 
   display: flex;
   align-items: center;
   flex-direction:row;
   gap: 160px;
   margin: 10px;
   
 }
 
 .estrutura-universal2{
  display: flex;
  background-color: #333333;
 
 }
 
 .estrutura-texto2{
   color: aliceblue;
   font-size: 17px;
   padding: 30px;
 }
 
 .caixa-icones2{
 
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: aqua;
   gap: 10px;
   padding-top: 10px;
   background-color: #333333;
 
 }
 
 .logo2{
   display: flex;
   justify-content: end;
 }


