*{
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
}
a{

}

#banner{
    height: 200;
    width: 1000;
}

li a {
    text-decoration: none ;
   color: #ffffff;
   font-size:  20px;
}
#logo{
    height: 100px;
    width: 100px;
}


